<%= include('includes/top.tmpl') %>

<div id="newsspec_9511" class="main newsspec_9511">

	<div class="ns__schools_nav">

		<h2 class="strapline special-24"><a target="_parent" href="/news/education-11950098">English school tables</a></h2>

		<div id="ns__primary__postcode_form" class="ns__postcode_form ns__search_form_container">
			<h3 id="ns_6711__toggle_cta" class="description special-16">Choose results</h3>
			<form id="ns__primary__postcode_user_form" class="ns__postcode_form" method="POST" action="http://www.bbc.co.uk/locator/default/bouncer/news_school_league_tables_2012" target="_parent">
				<div class="radiobuttons">
					<fieldset class="ns_6711__schools_nav_data_control">
					<input type="radio" value="primary" name="level" id="ns_6711__schools_nav_select--primary"><label for="ns_6711__schools_nav_select--primary">Primary <span class="ns--wide">schools</span></label></fieldset>
					<fieldset class="ns_6711__schools_nav_data_control">
					<input type="radio" value="sec" name="level" id="ns_6711__schools_nav_select--gcse" checked="checked"><label for="ns_6711__schools_nav_select--gcse">GCSE</label></fieldset>
					<fieldset class="ns_6711__schools_nav_data_control">
					<input type="radio" value="p16" name="level" id="ns_6711__schools_nav_select--alevel"><label for="ns_6711__schools_nav_select--alevel">A-level</label></fieldset>
				</div>
				<h3 id="ns__schools_nav_cta" class="ns__schools_nav_cta description special-16">Compare schools in your area on Department for Education website</h3>
				<input type="hidden" name="mode" value="lea">
				<input type="hidden" name="year" value="13">
				<input type="hidden" name="destination" value="dfe">
				<span class="ns__input_wrapper">
					<input  id="ns__primary__postcode_field" name="location_id" class="ns__search_field" type="text" placeholder="Enter postcode" />
					<input class="ns__go_button" name="ns__search_button" type="submit" value="Go" />
				</span>
			</form>

			<div class="ns__error_message"></div>
		</div>

		<!--a class="ns__external_link" href="http://www.education.gov.uk/">Department for Education website</a-->

	</div>

</div>

<%= include('includes/bottom.tmpl') %>
