<style type="text/css">
	.blq-journalism-domestic .slt-nav-module--story {
		width: 304px;
		z-index: 1;
		margin: 0 -160px 16px 16px;
		float: right;
		overflow: hidden;
		clear: right;
	}
</style>

<%
    iframeUid = "responsive-iframe-" + Math.floor(Math.random() * 100000000);
%>
<script>
    if ((!document.addEventListener) || (!Array.prototype.indexOf) || (!Array.prototype.forEach) ) {
        document.write('<sc' + 'ript src="<%= path %>/<%= vocab_dir %>/js/lib/vendors/legacy-ie-polyfills.js?v=<%= version %>"></sc' + 'ript>');
    }
</script>
<div>
    <a href="<%= path %>/<%= vocab_dir %>/index.html?v=<%= version %>" id="<%= iframeUid %>" data-static-iframe-height="600"><!-- iFrame --></a>
</div>
<style>
<%= include("../scss/news_special/loading.css") %>
	.slt-nav-module--index {
		margin-bottom: -4px;
	}
</style>
<script type="text/javascript"><%= include("../js/lib/news_special/iframemanager__host.js", {iframeUid: iframeUid}) %></script>